<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <title>Lab 1</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
<div id="app">
    <div class="container" style="background: #fdcb6e;">
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="index.html">
                    {{ title }}
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item is-active" href="index.html">Search</a>
                </div>
            </div>
        </nav>
    </div>

    <section class="hero" style="background: #fdcb6e;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">{{ title }}</h1>
                <div class="field">
                    <label class="label">Search</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="">
                    </div>
                </div>
                <div v-for="movie in movies" class="card card-result">
                    <div class="card-header">
                        <p class="card-header-title">
                            <span v-if="!movie.editing">{{ movie.id }} - {{ movie.title }}</span>
                            <input v-else type="text" v-model="movie.title">
                            <i v-if="!movie.editing" class="fa fa-edit" @click="editMovie(movie)"></i>
                            <i v-else class="fa fa-save" @click="saveEditedMovie(movie)"></i>
                        </p>
                        <a class="card-header-icon" v-if="movie.isFavorite">
                            <span class="icon is-favorite">
                              <i class="fa fa-star"></i>
                            </span>
                        </a>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-128x200">
                                    <img :src="movie.image" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p>{{ movie.date }}</p>
                                <p class="tags">
                                    <span class="tag" v-for="tag in movie.tags">{{ tag }}</span>
                                </p>
                                <div class="content" v-if="!movie.editing">{{ movie.content }}</div>
                                <div class="content" v-else><textarea v-model="movie.content"></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-result">
                    <div class="card-header">
                        <p class="card-header-title">Ajouter un film</p>
                    </div>
                    <div class="card-content">
                        <label style="display: inline-block; width: 150px" for="title">Titre</label>
                        <input id="title" v-model="newMovie.title" type="text">
                        <br>
                        <br>
                        <label style="display: inline-block; width: 150px" for="desc">Description</label>
                        <input id="desc" v-model="newMovie.content" type="text">
                        <br>
                        <br>
                        <label style="display: inline-block; width: 150px" for="img">Image</label>
                        <input id="img" v-model="newMovie.image" type="text">
                        <br>
                        <br>
                        <label style="display: inline-block; width: 150px" for="released">Date</label>
                        <input id="released" v-model="newMovie.date" type="text">
                        <br>
                        <br>
                        <button type="button" @click="addMovie(newMovie)">Sauvegarder</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/app.js"></script>
</html>
